html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  color-scheme:dark;


}
a {
    color:greenyellow;
}

body {
    color: black;
    margin-bottom: 60px;
    background-image: url("../images/dev-d2Py_uhXJQo-unsplash.jpg")
}

.table {
    box-shadow: 0 0 0 .5rem black, 0 0 0 .75rem #258cfb;
    font-display: block;
    font-style: oblique;
    background-color: dodgerblue;
    color: greenyellow;
}

.page {
    background-color: dodgerblue;
}

h1 {
    border: double;
    border-color: black;
    color: greenyellow;
}
    h1 span {
        background-color: dodgerblue;
    }

h4 {
    border: thick;
    border-color: white;
    color: greenyellow;
}
    h4 span {
        background-color:dodgerblue
    }
a {
    border: thick;
    border-color: white;
    color: greenyellow;
}
    a span {
        background-color: dodgerblue;
    }
.row {
    box-shadow: 0 0 0 .5rem black, 0 0 0 .75rem #258cfb;
    font-display: block;
    font-style: oblique;
    background-color: dodgerblue;
    color: greenyellow;
}
